<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slamcode.goalcalendar">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".dagger2.ComposableApplication"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/planner_96"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <service
            android:name=".service.notification.NotificationScheduler"
            android:label="Notification Scheduler">
            <intent-filter>
                <action android:name="com.slamcode.goalcalendar.service.notification.NotificationScheduler" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.notification.NotificationServiceStarterReceiver"
            android:enabled="true"
            android:label="NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.notification.NotificationPublisher"
            android:enabled="true"
            android:label="NotificationPublisher" />

        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".onboarding.OnBoardingActivity"
            android:label="@string/title_activity_onboarding"
            android:noHistory="true" />
        <activity
            android:name=".MonthlyGoalsActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MonthlyGoalsActivity" />
        </activity>
        <activity android:name=".BackupActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"></activity>
    </application>

</manifest>