<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slamcode.goalcalendar">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".dagger2.ComposableApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.NotificationScheduler"
            android:label="Notification Scheduler">
            <intent-filter>
                <action android:name="com.slamcode.goalcalendar.service.NotificationScheduler" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.NotificationServiceStarterReceiver"
            android:label="BootCompletedReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.USER_PRESENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.NotificationPublisher"
            android:label="NotificationPublisher"></receiver>

        <activity
            android:name=".MonthlyGoalsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MonthlyGoalsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MonthlyGoalsActivity" />
        </activity>
    </application>

</manifest>